.unselectable {
    user-select: none;
}
.submit_form_button{
    width: 442px;
    height: 26px;
    padding-left: 16px;
    padding-right: 16px;
    user-select: none;
    border: 1px solid;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    background-color: #4267b2;
    border-color: #4267b2;
    line-height: 22px;
    color: white;
    margin-left: 40px;
}
.submit_form_button:hover{
    background-color: #2851A3;
}
.post_form_title{
    display:flex;
    align-items: center;
    width: 500px;
    padding: 8px;
    height: 16px;
    border: 1px solid #dddfe2;
    border-radius: 5px 5px 0 0;
    background-color: #f5f6f7;
    color: #4A4A4A;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    font-weight: bold;
}
.post_form_wrapper{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    margin-left: 25%
}
.post_form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.post_form_textarea{
    width: 498px;
    padding: 8px;
    font-size: 24px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow: hidden;
    margin-top: -2px;

}
.post_wrapper{
    background-color: white;
    margin: 10px;
    margin-left: 25%;
    width: 516px;
    height: inherit;
    border: 1px solid #cbcfd6;

}
#post_header{
    margin-top:8px;
    margin-bottom:15px;
    margin-left: 25%;
    color: #606770;
    font-size: 13px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}
.post_names{
    padding: 5px;
    padding-top: 12px;
    margin-left: 40px;
    color: #385898;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;

}

.post_date{
    color: #616770;
    font-size: 12px;
    padding: 5px;
    margin-left: 40px;
    padding-top: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}

.post_body{
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 28px;
    word-wrap: break-word;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.post_profile_picture{

}
.post_footer{
    border-top: 0.5px solid #cbcfd6;
}